@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body{font-family: 'Roboto', sans-serif; margin: 0px; padding: 0px;}


/** header **/

.header{
    background-color: #525252;
    padding: 10px 17px;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link.border-btn {
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    min-width: 94px;
    text-align: center;
}

.navbar-header{
    margin-left: 20px;
}

.horizontal-arr{
    height: 48px;
}
::after {
    box-sizing: border-box;
    color: white;
}
.welcome-section{
    background-color: #f9f9f9;
}
.welcome-header{
    padding: 45px 0px;
    font-size: 30px;
    line-height: 24px;
    color: #4f4f4f;
}
.welcome-sandip{
    font-weight: bold;
}
.service-section{
    padding-top: 30px;
}

::selection{
    background: #146371;
    color: #fff;
  }
.title{
      font-size: 18px;
  }
.none{
     height: auto;
  }
.cancle{
      border: 1px solid;
        margin-top: 10px;
        color: white;
        background-color: #ff6b6b;
        border-radius: 30px;
        padding: 5px 10px;
  }
  
  .container{
    width: 100%;
    padding: 40px 50px  40px  40px;
    background: #fff;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .topic{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .list{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    position: relative;
    color: white;
    background-color: #1d7a8c;
    padding-right: 25px;
    
  }
  .content .list label{
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    z-index: 12;
  }
  #dashboard:checked ~ .list label.dashboard,
  #new-sevice-request:checked ~ .list label.new-sevice-request,
  #upcoming-service:checked ~ .list label.upcoming-service,
  #service-schedule:checked ~ .list label.service-schedule,
  #service-history:checked ~ .list label.service-history,
  #myRating:checked ~ .list label.myRating,
  #blockCustomer:checked ~ .list label.blockCustomer,
  #invoices:checked ~ .list label.invoices,
  #notifications:checked ~ .list label.notifications
  {
    color: #fff;
  }
  .content .list label:hover{
    color:
    #146371;
  }
  .content .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: 
    #146371;
    transition: all 0.4s ease;
  }
  #dashboard:checked ~ .list .slider{
    top: 0;
  }
  #new-sevice-request:checked ~ .list .slider{
    top: 60px;
  }
  #upcoming-service:checked ~ .list .slider{
    top: 120px;
  }
  #service-schedule:checked ~ .list .slider{
    top: 180px;
  }
  #service-history:checked ~ .list .slider{
    top: 240px;
  }
  #myRating:checked ~ .list .slider{
    top: 300px;   
  }
  #blockCustomer:checked ~ .list .slider{
    top: 360px;   
  }
  #invoices:checked ~ .list label.slider{
    top: 420px;
  }
  #notifications:checked ~ .list label.slider{
    top: 480px;
  }
  .content .text{
    display: none;
  }
  .content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content .text p{
    text-align: justify;
  }
  .content .text-content .home{
    display: block;
  }
  #dashboard:checked ~ .text-content .dashboard,
  #new-service-request:checked ~ .text-content .new-service-request,
  #upcoming-service:checked ~ .text-content .upcoming-service,
  #service-schedule:checked ~ .text-content .service-schedule,
  #service-history:checked ~ .text-content .service-history,
  #myRating:checked ~ .text-content .myRating,
  #blockCustomer:checked ~ .text-content .blockCustomer,
  #invoices:checked ~ .text-content .invoices,
  #notifications:checked ~ .text-content .notifications {
    display: block;
  }
  #new-service-request:checked ~ .text-content .dashboard,
  #upcoming-service:checked ~ .text-content .dashboard,
  #service-schedule:checked ~ .text-content .dashboard,
  #service-history:checked ~ .text-content .dashboard,
  #myRating:checked ~ .text-content .dashboard,
  #blockCustomer:checked ~ .text-content .dashboard,
  #invoices:checked ~ .text-content .dashboard,
  #notifications:checked ~ .text-content .dashboard{
    display: none;
  }
  .none{
    display: none;
  }
.table{
    border: 1px solid;
    border-color: #e1e1e1;
    color: #646464;
}
.table-heading{
     background-color: #e1e1e1;
     color: #646464;
}
.date{
  font-weight: bold;
}
/**new-service-request tab **/
.serviceArea{align-self: center;}
.accept{background: #1d7a8c;
  border-radius: 35px;
}

.width{width: auto; margin-right: auto; text-align: center; }
.cardHat{padding: 40px 60px 10px 60px;}
.blockbtn{color: #fff; background-color: #ff6b6b; border-radius: 30px;}
.activespan{color: #67b644;}
.export{
  font-size: 14px;
  align-items: right;
  color: white;
  border: 1px solid;
  border-radius: 42px;
  background-color: #146371;
  padding: 6px 10px;
  float: right;
  margin-bottom: 5px;
}
.export2{
  font-size: 14px;
  align-items: right;
  color: white;
  border: 1px solid;
  border-radius: 42px;
  background-color: #146371;
  padding: 10px 20px;
  float: left;
  margin-bottom: 5px;
}
.export1{
  font-size: 14px;
  align-items: right;
  color: white;
  border: 1px solid;
  border-radius: 42px;
  background-color: #ff6b6b;
  padding: 6px 10px;
  float: right;
  margin-bottom: 5px;
}


.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1d7a8c;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/**footer**/
.footer-top{
    background-color: black;
    margin-top: 53px;
    padding: 15px 27px;
}
.site-footer ul.footer-navigation li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}
.footer-list{
    margin-right: 20px;
    text-align: center;
    margin-top: 30px;
}
.terms-condition{
    margin-left: 10px;
}
.footer-bottom{
    color: #9ba0a3;
    background-color: black;
    padding: 3px 0px;
}
.privacy{
    text-decoration: none;
    color:#9ba0a3 ;
}


@media (max-width: 500px){
    .content{
      display: block;
    }
     thead{
          display: none;
      }
      td{
          display: block;
      }
      td:first-child{
          text-align: center;
      }
      td:nth-child(1)::before{
          content: "Service ID";
      }
      td:nth-child(2)::before{
        content: "Service date";
    }
    td:nth-child(3)::before{
        content: "Customer details";
    }
    td:nth-child(4)::before{
        content: "Distance";
    }
     td:nth-child(5)::before{
        content: "Actions";
       }
    td{
        text-align: right;
    }
    td::before{
        float: left;
        margin-right: 10rem;
        font-weight: bold;
    }
  }



@media (min-width: 500px) and (max-width:1000px){
    .content{
      display: block;
    }
     thead{
          display: none;
      }
      td{
          display: block;
      }
      td:first-child{
          text-align: center;
      }
      td:nth-child(1)::before{
          content: "Service ID";
      }
      td:nth-child(2)::before{
        content: "Service date";
    }
    td:nth-child(3)::before{
        content: "Customer details";
    }
    td:nth-child(4)::before{
        content: "Distance";
    }
     td:nth-child(5)::before{
        content: "Actions";
       }
    td{
        text-align: right;
    }
    td::before{
        float: left;
        margin-right: 20rem;
        font-weight: bold;
    }
}
/*-------------------Upcoming Service----------------------*/
.upcoming-service .faq-header .container {
    padding: 0;
}

    .upcoming-service .faq-header .container .navbar {
        padding: 0;
    }

    .upcoming-service .faq-header .container .line {
        background-color: #e1e1e1;
        height: 48px;
        width: 1px;
        margin-right: 20px;
    }

    .upcoming-service .faq-header .container ul li a#a1 {
        margin-top: 5px;
    }

    .upcoming-service .faq-header .container ul li .drop-toggle {
        height: fit-content;
        margin: auto;
        position: relative;
        text-decoration: none;
    }

    .upcoming-service .faq-header .container ul li .dropdown-menu {
        position: absolute;
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        color: #646464;
        margin-top: 15px;
        top: 100%;
        right: 0;
        margin-right: 12px;
        padding: 0;
        font-family: 'Roboto';
        transition: all .3s ease;
        min-width: 200px;
        border: none;
        padding-bottom: 5px;
    }

        .upcoming-service .faq-header .container ul li .dropdown-menu::after {
            position: absolute;
            top: 0;
            content: "";
            border-width: 0 8px 12px 8px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
            top: -12px;
            right: 35px;
        }

        .upcoming-service .faq-header .container ul li .dropdown-menu li {
            font-size: 16px;
            line-height: 18px;
        }

            .upcoming-service .faq-header .container ul li .dropdown-menu li a {
                color: #646464;
                display: block;
                padding: 8px 15px;
            }

                .upcoming-service .faq-header .container ul li .dropdown-menu li a:hover {
                    background: #e1e1e1;
                }

            .upcoming-service .faq-header .container ul li .dropdown-menu li b {
                display: block;
            }

        .upcoming-service .faq-header .container ul li .dropdown-menu .user-details {
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 5px;
            font-size: 14px;
            padding: 8px 15px;
        }

    .upcoming-service .faq-header .container .line#l1 {
        margin-right: 20px;
    }

    .upcoming-service .faq-header .container .d-flex img {
        width: auto;
        height: auto;
        margin: auto;
    }

    .upcoming-service .faq-header .container .d-flex button {
        background-color: transparent;
        border: none;
    }

    .upcoming-service .faq-header .container .d-flex .badge {
        margin-left: -5px;
    }

    .upcoming-service .faq-header .container img#arrow-down {
        margin-left: 10px;
    }

.name {
    padding-top: 110px;
    background-color: #f9f9f9;
    padding-bottom: 40px;
}

    .name p {
        font-family: 'Roboto';
        font-size: 30px;
        color: #4f4f4f;
        font-weight: normal;
        line-height: 0.8;
    }

        .name p span {
            font-weight: bold;
        }

.upcoming-service-details {
    padding: 40px 50px;
    font-family: 'Roboto';
    font-weight: normal;
}

    .upcoming-service-details .container {
        max-width: 1520px;
    }

        .upcoming-service-details .container .container-menu {
            background-color: #1d7a8c;
            min-width: fit-content;
        }

            .upcoming-service-details .container .container-menu .navbar {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .upcoming-service-details .container .container-menu ul li a {
                color: rgba(255, 255, 255, 0.9);
                font-size: 18px;
            }

            .upcoming-service-details .container .container-menu ul li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-right: 80px;
            }

            .upcoming-service-details .container .container-menu .nav-item {
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .upcoming-service-details .container .container-menu ul li:hover {
                background-color: #146371;
                transition: ease 0.5s;
            }

            .upcoming-service-details .container .container-menu .active {
                background-color: #146371;
            }

.container-details {
    margin-left: 20px;
    width: -webkit-fill-available;
}

    .container-details .table {
        border: 1px solid #e1e1e1;
    }

    .container-details table {
        font-family: 'Roboto';
        font-size: 16px;
        color: #646464;
    }

        .container-details table thead {
            background-color: #f9f9f9;
        }

            .container-details table thead tr {
                border-style: none;
            }

        .container-details table tr {
            vertical-align: middle;
        }

        .container-details table thead span {
            display: flex;
            color: #646464;
            font-weight: bold;
            line-height: 1.63;
            margin: 5px 5px;
        }

            .container-details table thead span img {
                height: min-content;
                margin-left: 5px;
                margin-top: 6px;
            }

        .container-details table tbody span img {
            margin-right: 10px;
        }

        .container-details table tbody span {
            margin-bottom: 5px;
        }

        .container-details table tbody tr td {
            padding: 20px 15px;
        }

            .container-details table tbody tr td.table-item-2 {
                line-height: 25px;
            }

        .container-details table tbody tr .button {
            padding-top: 15px;
        }