
@{
    ViewData["Title"] = "BecomeAPro";
    Layout = "~/Views/Shared/_BecomeAProLayout.cshtml";
}

<section class="about-section p-5">
    <div class="d-flex justify-content-center">
        <h1 class="about-header pb-5">How it works</h1>
    </div>
    <div class="row d-flex justify-content-evenly pb-3">
        <div class="col col-md-3 col-sm-6">
            <div class="card about-card mt-4 ms-3">
                <div class="card-body ms-3">
                    <h2>Register yourself</h2>
                    <p class="card-text">
                        Provide your basic information to register
                        yourself as a service provider.
                    </p>
                    <br>
                    <p>Read more  <a href="#"> <img src="/assets/shape-2-copy-3.png"></a></p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-6">
            <div class="card about-card" style="width: 16rem;">
                <img src="/assets/reg-img.png">
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-evenly pb-3">
        <div class="col col-md-3 col-sm-6">
            <div class="card about-card" style="width: 16rem; float: right;">
                <img src="/assets/reg-img2.png">
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card about-card mt-4">
                <div class="card-body">
                    <h2>Get service requests</h2>
                    <p class="card-text">
                        You will get service requests from
                        customes depend on service area and profile.
                    </p>
                    <br>
                    <p>Read more  <a href="#"> <img src="/assets/shape-2-copy-3.png"></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-evenly pb-3">
        <div class="col col-md-3 col-sm-6">
            <div class="card about-card mt-4 ms-3">
                <div class="card-body ms-3">
                    <h2>Complete service</h2>
                    <p class="card-text">
                        Accept service requests from your customers
                        and complete your work.
                    </p>
                    <br>
                    <p>Read more  <a href="#"> <img src="/assets/shape-2-copy-3.png"></a></p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-6">
            <div class="card about-card" style="width: 16rem;">
                <img src="/assets/reg-img-3.png">
            </div>
        </div>

    </div>


</section>
<section class="our-news-letter" style="margin-top: 47px;">
    <div class="container text-center">

        <h2 class="news-letter">GET OUR NEWSLETTER</h2>
        <div class="form-row d-flex justify-content-center align-items-center">
            <div class="form-group">
                <label for="email" style="display: none;">YOUR EMAIL</label>
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control email">
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="red-btn">Submit</button>
            </div>
        </div>
    </div>
</section>

