@model Helperland.Models.User
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}


<form asp-action="ChangePassword" asp-controller="Home">
    <div class="row g-3 justify-content-center mt-5">
        <div class="col-lg-3 form-colomn mb-3">
            <label class="forgetPass mb-3">New Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-lg-3 form-colomn mb-3">
            <label class="forgetPass mb-3">Confirm Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Confirm Password" aria-label="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 justify-content-center btnRegdiv mb-3">
        <div class="col-lg-3 savebtn">
            <button class="btnRegister1" type="submit"><a href="#">Save</a></button>
        </div>
    </div>
</form>

