@model Helperland.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";

}

<h1 class="text_center mt-5">Create an account</h1>

<img class="rounded mx-auto mb-3 d-block forma" src="/assets/forma-1-copy-5.png" alt="forma-1-copy-5">
<div class="container">
    <form asp-action="Register" asp-controller="Home" method="post">
        <div class="row g-3 justify-content-center">
            <div class="col-lg-3 form-colomn mb-2">
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="col-lg-3 form-colomn">
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">

                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <div class="col-lg-3 form-colomn">
                <div class="input-group mb-2">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="E-mail address">
                    
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>
            <div class="col-lg-3 form-colomn">
                <div class="input-group">
                    <div class="input-group-text">+91</div>
                    <input asp-for="Mobile" class="form-control" maxlength="20" placeholder="Mobile Nummer" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <div class="col-lg-3 form-colomn mb-3">
                <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-lg-3 form-colomn">
                <input type="password" class="form-control" placeholder="Confirm password" aria-label="password">
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <div class="col-lg-6 form-colomn mb-3 text_center1">
                <input type="checkbox" value="isRemeberMe" id="rememberMe">
                <label for="rememberMe">I have read the <a href="#">privacy policy</a></label>
            </div>
        </div>
        <div class="row g-3 justify-content-center btnRegdiv mb-3">
            <div class="col-lg-6">
                <button type="submit" class="btnRegister">Register</button>
            </div>
        </div>
        <div class="text_center">
            Already registered? <a asp-action="Login" asp-controller="Home" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="ms-1">Login now</a>
        </div>
    </form>
</div>

